
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>divideByZero</title>
</head>
<body>
    <div>
        <h2>Error Occurred</h2>
        <h3>Divideby Zero Exception Raised</h3>
    </div>
</body>
</html>
