@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello user</h1>
    <p class="lead">Welcome to Bank Portal</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Here are some basic features </h2>
        <p>
            The Users of bank can be accessible to features with limited access
        </p>
        
    </div>
    
</div>